body {
    min-height: calc(100vh - 70px);
    background: url("../../Images/hike-2.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: white;
}

footer {
    position: fixed;
    height: 60px;
    line-height: 2.5;
}   