.card {
    max-width: 400px;
    height: 450px;
    margin: 20px;
    border-radius: 7px;
    border: 2px solid gray;
    background-color: #5c646d;
}

img {
    width: 400px;
    height:250px;
}

.btn-small {
    border-radius: 5px;
    margin-top: 7px;
}

.card-title:hover {
color: red;
}

.col {
    justify-content: center;
}