.card {
    max-width: 400px;
    height: 450px;
    margin: 20px;
    border-radius:15px;
    border: 2px solid gray;
    background-color: #5c646d;
}

img {
    width: 400px;
    height:250px;
    
}

.btn-small {
    border-radius: 5px;
    margin-top: 7px;
}

.card-title {
    color: #DEB992;
} 

.card-title:hover {
color: black;
}

.col {
    justify-content: center;
}

.card .card-image img {
    border-top-left-radius: 15px !important;
    border-top-right-radius: 15px !important;
}