.card {
    width: 15vw;
    height: 450px;
    margin: 20px;
    border-radius:15px;
    border: 2px solid gray;
    background-color: #5c646d;
}

img {
    width: 400px;
    height:250px;
    
}

.btn-small {
    border-radius: 5px;
    margin-top: 7px;
    display: none;
}

.card-title {
    color: #DEB992;
} 



@media (max-width: 1980px){
    /* .card .card-title {
        font-size: 14px;
    }

    p {
        font-size: 8px;
    } */
    
    .card-title {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        width: 200px;
    }

    .card:hover .card-title {
        overflow: visible;
        white-space: normal;
        width: auto;
    }
}

.card-title:hover {
color: black;
}

.col {
    justify-content: center;
}

.card .card-image img {
    border-top-left-radius: 15px !important;
    border-top-right-radius: 15px !important;
}

.card {
    display: inline-block;
    vertical-align: middle;
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    margin: 10px;
    transition-duration: 0.3s;
    transition-property: box-shadow, transform;
  }

.card:hover,
.card:focus,
.card:active {
  box-shadow: 1px 10px 10px -10px rgba(0, 0, 24, 0.5);
  transform: scale(1.05);
  border-radius: 15p;
}