.userDiv2 {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 1;
    background: url("../Images/climbing-1.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
} 

.jumanji {
    background-color: #DEB992;
}