body, html {
  height: 100%;
  margin: 0;
  font-size: 18px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: 400;
  color: #666;
}

.pimg1, .pimg2, .pimg3, .pimg4, .pimg5 {
  position: relative;
  opacity: 1;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

/*
fixed = parallax
scroll = normal
*/

  background-attachment: fixed;
}

.pimg1 {
  background-image: url('../Images/hike-2.jpg');
  height: 1100px;
}

.pimg2 {
  background-image: url('../Images/bike-2.jpg');
  min-height: 900px;
}

.pimg3 {
  background-image: url('../Images/climbing-2.jpg');
  min-height: 900px;
}

.pimg4 {
  background-image: url('../Images/view-2.jpg');
  min-height: 900px;
}

.pimg5 {
  background-image: url('../Images/par1.jpg');
  min-height: 1000px;
}

.section {
  text-align: center;
  padding: 20px;
  background-color: steelblue;
  color: crimson;
}

.ptext {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
  font-size: 32px;
  letter-spacing: 8px;
  text-transform: uppercase;
}

.ptext .border {
  color: #fff;
  padding: 20px;
  border-radius: 7px;
}

.ptext .border .trans {
  background-color: transparent;
}

@media(max-width: 568px) {
  .pmig1, pmig2, pimg3 {
      background-attachment: scroll;
  }
}

.project {
  color: rgb(163, 81, 163);
  font-weight: 600;
  margin: 0;
  padding-top: 7%;
}