body, html {
  height: 100%;
  margin: 0;
  font-size: 15px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: 500;
  background: url("../Images/hike-2.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.pimg1, .pimg2, .pimg3, .pimg4, .pimg5 {
  position: relative;
  opacity: 1;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

/*
fixed = parallax
scroll = normal
*/

  background-attachment: fixed;
}

.pimg1 {
  background-image: url('../Images/hiking-2.jpg');
  height: 1400px;
}

.pimg2 {
  background-image: url('../Images/bike-2.jpg');
  min-height: 900px;
}

.pimg3 {
  background-image: url('../Images/climbing-2.jpg');
  min-height: 900px;
}

.pimg4 {
  background-image: url('../Images/snow-1.jpg');
  min-height: 900px;
}

.pimg5 {
  background-image: url('../Images/par1.jpg');
  min-height: 1000px;
}

.section {
  text-align: center;
  padding: 20px;
  color: crimson;
  background-color: rgba(0, 0, 0, 0.76);
}


@media screen and(max-width: 568px) {
  .pimg1, .pimg2, .pimg3, .pimg4, .pimg5 {
      background-attachment: scroll;
  }
}

@media only screen and (max-width: 900px) {
  .pimg1, .pimg2, .pimg3, .pimg4, .pimg5 {
    max-width: 100%;
  }
    .pimg1 {
  background-image: url('../Images/background-phone.jpg');
  height: 1100px;

}
}
.project {
  color: #DEB992;
  font-weight: 600;
  margin: 0;
  padding-top: 7%;
  text-shadow: black 2px;
}


.title {
  color: #DEB992;
  font-family: brandon-grotesque, sans-serif;
  font-weight: 100;
  font-size: 8em;
  font-style: normal;
}

.align {
  align-content: right;
}

span {
  font-size: 60px;
  color: #DEB992;
}

.koalas {
  position: fixed;
  z-index: 100000;
  /* margin-top: 65px; */
  top: 15px;
  padding: 12px;
  border-radius: 10px;
  background-color: black;
  color: #DEB992;
  font-size: 18px;
  font-weight: bold;
}

.koalas:hover {
  background-color: rgb(22, 22, 22);
  cursor: pointer;
}

.spanElement2 {
  font-size: 24px;
}