body, html {
  height: 100%;
  margin: 0;
  font-size: 15px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: 500;
  color: #666;
}

.pimg1, .pimg2, .pimg3, .pimg4, .pimg5 {
  position: relative;
  opacity: 1;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

/*
fixed = parallax
scroll = normal
*/

  background-attachment: fixed;
}

.pimg1 {
  background-image: url('../Images/hiking-2.jpg');
  height: 1100px;
}

.pimg2 {
  background-image: url('../Images/bike-2.jpg');
  min-height: 900px;
}

.pimg3 {
  background-image: url('../Images/climbing-2.jpg');
  min-height: 900px;
}

.pimg4 {
  background-image: url('../Images/snow-1.jpg');
  min-height: 900px;
}

.pimg5 {
  background-image: url('../Images/par1.jpg');
  min-height: 1000px;
}

.section {
  text-align: center;
  padding: 20px;
  background-color: #051622;
  color: crimson;
  opacity: .9;
}

.ptext {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
  font-size: 32px;
  letter-spacing: 8px;
  text-transform: uppercase;
}

.ptext .border {
  color: #fff;
  padding: 20px;
  border-radius: 7px;
}

.ptext .border .trans {
  background-color: transparent;
}

@media(max-width: 568px) {
  .pimg1, .pimg2, .pimg3, .pimg4, .pimg5 {
      background-attachment: scroll;
  }
}

.project {
  color: #DEB992;
  font-weight: 600;
  margin: 0;
  padding-top: 7%;
  text-shadow: black 2px;
}

p {
  color: white;
}

.title {
  color: #DEB992;
  font-family: brandon-grotesque, sans-serif;
  font-weight: 100;
  font-size: 8em;
  font-style: normal;
}

.align {
  align-content: right;
}

.owl-prev {
  width: 25px;
  height: 100px;
  position: absolute;
  top: 40%;
  margin-left: -20px;
  display: block !important;
  border:0px solid black;
  color: white;
  font-size: 100px;
}

.owl-next {
  width: 25px;
  height: 100px;
  position: absolute;
  top: 40%;
  right: -25px;
  display: block !important;
  border:0px solid black;
  color: white;
}
.owl-prev i, .owl-next i {transform : scale(1,6); color: #ccc;}

span {
  font-size: 60px;
  color: #DEB992;
}

.spanElement {
  font-size: 18px;
}