/*footer*/
footer {
    background: #666666;
    color: #fff;
    color: #ccc;
    font-size: 20px;
    text-align: center;
    width: 100%; 
    position: fixed;
    bottom: 0px;
    height: 40px;   
}  

