/*footer*/

.footer-home {
    background: black;
    color:#DEB992 ;
    font-size: 24px;
    text-align: center;
    width: 100%; 
    bottom: 0px;
    height: 70px;   
    line-height: 3;
}

.footer-favorite {
    background: black;
    color: #DEB992;
    font-size: 24px;
    text-align: center;
    width: 100%; 
    bottom: 0px;
    height: 60px;   
    line-height: 2.5;
    position: fixed;
}

.footer-user {
    background: black;
    color: #DEB992;
    font-size: 24px;
    text-align: center;
    width: 100%; 
    bottom: 0px;
    height: 60px;   
    line-height: 2.5;
    position: fixed;
}

#johnCena {
    color: #DEB992;
    font-size: 20px;
}