/*footer*/

.footer-home {
    background: #666666;
    color: #ccc;
    font-size: 24px;
    text-align: center;
    width: 100%; 
    bottom: 0px;
    height: 70px;   
    line-height: 3;
}

.footer-favorite {
    background: #666666;
    color: #ccc;
    font-size: 24px;
    text-align: center;
    width: 100%; 
    bottom: 0px;
    height: 60px;   
    line-height: 3;
    position: fixed;
}

.footer-user {
    background: #666666;
    color: #ccc;
    font-size: 24px;
    text-align: center;
    width: 100%; 
    bottom: 0px;
    height: 60px;   
    line-height: 3;
    position: fixed;
}

.johnCena {
    color: white;
}