.nav-wrapper {
    background-color: #051622;
  }

link {
  color: #051622;
}

.navbar {
  color: #051622;
  background-color: #051622;
}

.navbar-section .btn {
  color: #1BA098;
  background-color: #051622;
}

